body {
    font-family: "inter", sans-serif;
    padding-top: 70px;
}


.textoInicio{
    font-family: "Anton", sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: "Anton", sans-serif;
    font-size: 40px;
}

.img-fluid {
    max-height: 500px;
}

.imagen img {
    transition: transform 0.4s ease-in-out;    /* Transición suave */
}

.imagen:hover img {
    transform: scale(1.05);    /* Agranda la imagen un 10% */
}

.tarjeta {
    transition: transform 0.4s ease-in-out;    /* Transición suave */
}

.tarjeta:hover {
    transform: scale(1.05);    /* Agranda la imagen un 10% */
}


/* Media query para pantallas grandes */
@media (min-width: 1200px) {
    .textoInicio {
        font-size: 5rem;
    }

    .foto{
    transform: rotate(15deg);
}
}