body {
    font-family: "inter", sans-serif;
    padding-top: 70px;
}


.textoInicio{
    font-family: "Anton", sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: "Anton", sans-serif;
    font-size: 40px;
}

.img-fluid {
    max-height: 500px;
}

.imagen img {
    transition: transform 0.4s ease-in-out;    /* Transición suave */
}

.imagen:hover img {
    transform: scale(1.05);    /* Agranda la imagen un 10% */
}

.proyectos {
    text-align: center;
    padding: 50px 0 20px 0;
}
.container-card{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    color: black;
    transition: transform 0.4s ease-in-out;    /* Transición suave */
}

.tarjeta img{
    width: 100%;
    display: block;
}

.tarjeta:hover {
    transform: scale(1.05);    /* Agranda la imagen un 10% */
}

.body-tarjeta{
    padding: 20px;
}

@media (min-width: 720px) {
    .container-card{
    grid-template-columns: repeat(2, 1fr) ;
    }
}


/* Media query para pantallas grandes */
@media (min-width: 1200px) {
    .textoInicio {
        font-size: 5rem;
    }

    .foto{
    transform: rotate(15deg);
    }


}