$font-main: "Inter", sans-serif;
$font-title: "Anton", sans-serif;

$color-bg-card: whitesmoke;
$color-text-dark: black;

$spacing-small: 20px;
$spacing-medium: 50px;

$transition-base: 0.4s ease-in-out;